﻿<#+
void WriteListRows()
{
	GetJsCodeGenFileComment();
	WriteCreateListRow();
}

void WriteCreateListRow()
{
	var view = DddModelRoot.UnirDddModel.MvcModelRoot.GetView(Script.Entity.Name, MvcViewType.List);
	var displaySet = GetListDisplaySet(view);
	
	if(displaySet == null) return;
#>
function create<#= Script.Entity.Name #>GridRow(rowData) {
    var row = [];
    row.push('<input type="checkbox" />');

<#+
	WriteTableRows(displaySet, Script.Entity);
#>
    row.push('<span class="btn-opciones">' + Globalize.formatMessage('TextOptions') + '</span>');

    return row;
}
<#+
}
#>