﻿<#+
void WriteCreateEdit()
{
	string nameSpace = Properties.Find(p => p.WildCard == "Namespace").Value;
#>
<?xml version="1.0" encoding="utf-8"?>
<#+
	GetXmlCodeGenFileComment();
	WriteHeader();
	WriteTitles();
	WriteDetails();
#>
</root>
<#+
}

void WriteTitles()
{
#>
  <data name="Section<#= MvcGlobalization.Entity.Name #>Data" xml:space="preserve">
    <value>Datos de <#= MvcGlobalization.Entity.Alias #></value>
  </data>
  <data name="Title<#= MvcGlobalization.Entity.IsAggregatePart ? "Add" : "Create" #>" xml:space="preserve">
    <value>Crear <#= MvcGlobalization.Entity.Alias #></value>
  </data>
  <data name="TitleEdit" xml:space="preserve">
    <value>Editar <#= MvcGlobalization.Entity.Alias #></value>
  </data>
<#+
	if(!MvcGlobalization.Entity.IsAggregatePart)
	{
#>
  <data name="TitleShow" xml:space="preserve">
    <value>Mostrar <#= MvcGlobalization.Entity.Alias #></value>
  </data>
<#+
	}
}

void WriteDetails()
{
	foreach(var navigation in MvcGlobalization.Entity.PresentationHierarchicalNavigationProperties
													 .Where(np => np.IsMultiple && np.IsNavigable))
	{
#>
  <data name="Tab<#= navigation.RoleName #>" xml:space="preserve">
    <value><#= navigation.Alias #></value>
  </data>
<#+
	}
#>
<#+
}
#>